<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="background-color: rosybrown">
<div class="container">
<i><h1>Welcome User</h1></i>
</div>
</body>
</html>